header {
	font-family: Roboto, Verdana, sans-serif;
	padding: 25px;
	/* off-pink colored background with 70% opacity */
	background-color: rgba(242,95,92,0.7);
	/* pink-ish colored background */
	background-color: #F25F5C;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.portfolio-title {
	color: white;
	float: left;
	font-size: 36px;
}
.flexbar {
	float: right;
}
.link {
	width: 150px;
	padding: 0 10px;
	text-align: center;
	background-color: #28587B; 
	color: white;
	text-decoration: none;
    font-size: 24px;
	margin-right: 25px;
}
.portfolio {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
@media only screen and (max-width: 450px) {
	.portfolio-title {
		display: none;
	}
	header {
		justify-content: flex-end;
	}
	.link {
		width: 100px;
		padding: 0 5px;
		font-size: 16px;
		margin-right: 10px;
	}
	.porfolio {
		flex-wrap: wrap;
	}
	iframe {
		width: 400px;
		height: 400px;
	}
}
