header {
	box-sizing: box-border;
	width: 100%;
	font-family: Roboto, Verdana, sans-serif;
	padding: 25px;
	/* off-pink colored background with 70% opacity */
	background-color: rgba(242,95,92,0.7);
	/* pink-ish colored background */
	background-color: #F25F5C;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.portfolio-title {
	color: white;
	float: left;
	font-size: 36px;
}
.flexbar {
	float: right;
	margin-right: 50px;
}
.link {
	width: 150px;
	padding: 0 10px;
	text-align: center;
	background-color: #28587B; 
	color: white;
	text-decoration: none;
    font-size: 24px;
	margin-right: 25px;
}
